.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;
}

.navbar-container-logo {
    color: var(--yellow-theme-main-color);
    cursor: pointer;
}

.nav-elements {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-icon {
    display: none;
}

.nav-item {
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 1.6rem;
}

.nav-item::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease;
}

.nav-item:hover::after{
    width: 100%;
    background: var(--yellow-theme-main-color);

}


.nav-item-link {
    color: var(--yellow-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
}

@media screen and (max-width:768px) {
    .nav-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;

        &.active{
            background-color: black;
            left: 0;
            opacity: 1;
        }

        &.nav-item {
            border-bottom: 1px solid #181818;
            margin: 0px;
            padding: 20px 0px;
        }

    }

    .nav-icon {
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }
}